{% trans_default_domain 'FOSUserBundle' %}

<form class="login100-form validate-form" action="{{ path("fos_user_security_check") }}" method="post">
					<span class="login100-form-title">
						Login
					</span>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input class="input100" placeholder="Gebruikersnaam" type="text" id="username" name="_username" value="{{ last_username }}" required="required">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
    </div>

    <div class="wrap-input100 validate-input" data-validate = "Password is required">
        <input class="input100" placeholder="Wachtwoord" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" id="_submit" name="_submit">
            {{ 'security.login.submit'|trans }}
        </button>
    </div>

</form>
