<div class="s-specialPrediction">
    <h1>Voorspelling</h1>
    <div class="s-specialPrediction__race">
        <h2>{{ race ? race.name : '' }}</h2>
    </div>
    {{ form_start(form) }}

        <table class="s-specialPrediction__table">
            <thead class="s-specialPrediction__table__head">
            <tr>
                <td>Naam</td>
                <td>Voorspelling</td>
                <td>Ja / Nee?</td>
            </tr>
            </thead>
            <tbody class="s-specialPrediction__table__body">
            {% for score in form.specialPredictionResults %}
                    <tr>
                        <td>{{ score.vars.value.specialPrediction.createdBy.username|upper|slice(0, 3) }}</td>
                        <td>{{ score.vars.value.specialPrediction.prediction }}</td>
                        <td>
                            {{ form_widget(score) }}
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="s-specialPrediction__actions">
            {{ form_widget(form.save, {'attr': {'class': 'btn-blue'}}) }}
        </div>

    {{ form_end(form) }}

</div>
