<nav class="s-sideNav">
    <div class="wrapper">
        <div class="s-sideNav__logo">
            <img src="{{ asset('build/images/f1_logo.svg') }}" alt="">
        </div>
        <div class="s-sideNav__links">
            <a class="s-sideNav__links__link" href="{{ path('race') }}">
                <span>Races</span>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="s-sideNav__links__link" href="{{ path('special_prediction_admin') }}">
                    <span>Voorspelling</span>
                </a>
            {% elseif is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                <a class="s-sideNav__links__link" href="{{ path('special_prediction') }}">
                    <span>Voorspelling</span>
                </a>
            {% endif %}
            <a class="s-sideNav__links__link" href="{{ path('driver') }}">
                <span>Drivers</span>
            </a>
            <a class="s-sideNav__links__link" href="{{ path('users') }}">
                <span>Stand</span>
            </a>
        </div>
    </div>
    <div class="s-sideNav__background">
    </div>
    <div class="s-sideNav__hamburger">
        <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="s-sideNav__close">
        <i class="fa fa-times-circle fa-2x"></i>
    </div>
</nav>