<div class="form">
    <h1>Race voorspelling aanmaken</h1>
    <div class="form__container">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        <div class="wrap-input100 validate-input form__wrapper" data-validate = "Valid email is required: ex@abc.xyz">
            {{ form_row(form.fastestTime, {
                'attr' : {
                    'class' : 'input100',
                    'placeholder' : '1:12:123'
                }}) }}
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input form__wrapper" data-validate = "Valid email is required: ex@abc.xyz">
            {{ form_row(form.fastestDriverInQuali, {
                'attr' : {
                    'class' : 'input100'
                }}) }}
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input form__wrapper" data-validate = "Valid email is required: ex@abc.xyz">
            {{ form_row(form.fastestDriverInRace, {
                'attr' : {
                    'class' : 'input100'
                }}) }}
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input form__wrapper" data-validate = "Valid email is required: ex@abc.xyz">
            {{ form_row(form.firstPlaceDriver, {
                'attr' : {
                    'class' : 'input100'
                }}) }}
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input form__wrapper" data-validate = "Valid email is required: ex@abc.xyz">
            {{ form_row(form.secondPlaceDriver, {
                'attr' : {
                    'class' : 'input100'
                }}) }}
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input form__wrapper" data-validate = "Valid email is required: ex@abc.xyz">
            {{ form_row(form.thirdPlaceDriver, {
                'attr' : {
                    'class' : 'input100'
                }}) }}
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input form__wrapper" data-validate = "Valid email is required: ex@abc.xyz">
            {{ form_row(form.tierMax, {
                'attr' : {
                    'class' : 'input100'
                }}) }}
            <span class="focus-input100"></span>
        </div>

        <div class="form__action">
            {{ form_row(form.save, {
                'attr' : {
                    'class' : 'btn-blue'
                }}) }}
        </div>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
</div>