<div class="s-raceGrid">

    <h1>Races</h1>
    <table class="s-raceGrid__table">
        <thead class="s-raceGrid__table__head">
        <tr>
            <td>Naam</td>
            <td>Locatie</td>
            <td>Start race week</td>
            <td>Einde race week</td>
            <td>Race voorspelling</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td>Race uitslag</td>
            {% endif %}
        </tr>
        </thead>
        <tbody class="s-raceGrid__table__body">
        {% for race in races %}
            <tr>
                <td>{{ race.name }}</td>
                <td>{{ race.location }}</td>
                <td>{{ race.raceDateStart }}</td>
                <td>{{ race.raceDateEnd }}</td>
                <td>
                    <a href="{{ path('race_prediction_create', {
                        raceId : race.id
                    }) }}">Invullen!</a>
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('race_result_create', {
                        raceId : race.id
                    }) }}">Invullen!</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="s-raceGrid__actions">
        <a class="btn-red" href="{{ path('create_race') }}">+ Add race</a>
    </div>

</div>