<div class="s-raceGrid">
    <h1>Races</h1>
    <table class="s-raceGrid__table">
        <thead class="s-raceGrid__table__head">
        <tr>
            <td>Naam</td>
            <td>Locatie</td>
            <td>Start race week</td>
            <td>Einde race week</td>
            <td>Race voorspelling</td>
        </tr>
        </thead>
        <tbody class="s-raceGrid__table__body">
        {% for race in races %}
            <tr>
                <td>{{ race.name }}</td>
                <td>{{ race.location }}</td>
                <td>{{ race.raceDateStart }}</td>
                <td>{{ race.raceDateEnd }}</td>
                <td class="s-raceGrid__table__body__action">
                    {% if race.isActive and not racePrediction %}
                    <a class="btn-blue" href="{{ path('race_prediction_create', {
                        raceId : race.id
                    }) }}"><i class="fa fa-edit"></i></a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('race_result_create', {
                        raceId : race.id
                    }) }}">Invullen!</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
        <div class="s-raceGrid__actions">
            <a class="btn-red" href="{{ path('create_race') }}">+ Voeg race toe</a>
        </div>
    {% endif %}

</div>